#qa_ai_images_preview {
    padding: 0;
}


#qa_ai_images_preview img {
    height: 50px;
}

#qa_ai_images_preview li {
    list-style: none;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    margin: 0 5px;
}

#qa_ai_images_preview li img:hover {
    opacity: .8;
}
